*{
    font-family: sans-serif;
    margin:0;
    padding:0;
    color:black;
    box-sizing: border-box;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2rem;
    border-bottom:1.3px solid black;
    border-radius: 20px;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
}
.name{
    font-size:1.8rem;
    font-weight: bold;
}
nav ul{
    display:flex;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
    gap:1.5rem;
}
nav a{
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease-in-out; 
}
nav a:hover{
    color:blue;
    font-size: 1.3rem ;
}
main{
    margin:1rem;
}
.intro {
    display:flex;
    justify-content: space-around;
    align-items: center; 
    margin:1rem;
}
.description{
    display:flex;
    flex-direction: column;
}
.intro h1{
    font-size: 3.5rem;

}
.description p{
    font-size: 1.2rem;
    color:grey;
}
.intro img{
    height:18rem;
    width:18rem;
    border-radius: 50%;
    margin-right:10rem;
}